<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<div id="root"></div>

<script type="text/javascript">
  window.userLoginIcon = "<%= image_url('user_login_icon') %>"
</script>

<script type="text/javascript">
  window.cartIcon = "<%= image_url('cart_icon') %>"
</script>