.cart-item-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  border: 2px solid purple;
  margin: auto;
  padding: 15px 10px 15px 10px; 
}

.cart-item-container * {
  font-family: 'Montserrat', sans-serif;
}

.cart-item-info {
  width: 60%;
  height: 100%;
  display: flex;
  border: 2px solid green;
}

.cart-item-info img {
  width: 150px;
  height: 150px;
  object-fit: scale-down;
}

.cart-item-info h3 {
  font-family: 'Montserrat', sans-serif;

  text-align: center;
}

.quantity-container, 
.price-container,
.subtotal-container {
  width: 10%;
  height: 100%;
  // border: 2px solid orange;
  font-weight: 600;
}

.quantity-container {
  display: flex;
  justify-content: center;
}

.quantity-container input {
  width: 50px;
  height: 40px;
  text-align: center;
}

.price-container {
  display: flex;
  align-items: center;
  width: 50px;
  height: 40px;
}

.subtotal-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}