.edit-review-item-container *{
  font-family: 'Montserrat', sans-serif;
}

.edit-review-item-container {
  width: 100%;
  height: 225px;
  background-color: rgba(247, 247, 247, 0.5);
  padding-bottom: 40px;
  border-bottom: 2px solid #d3d3d3;
  border: 2px solid red;
}
