.edit-star-rating-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
}

.edit-star-rating-container div:first-child {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-star-rating-container div:not(first-child) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-review-item-container *{
  font-family: 'Montserrat', sans-serif;
}

.edit-review-item-container {
  width: 100%;
  height: 225px;
  background-color: rgba(247, 247, 247, 0.5);
  padding-bottom: 40px;
  border-bottom: 2px solid #d3d3d3;
  border: 2px solid red;
}

.edit-active-star {
  font-size: 14px;
  color: gold;
}

.edit-not-active-star {
  font-size: 14px;
  color: white;
}
.edit-active-background {
  background-color: teal;
}

.edit-not-active-background {
  background-color: rgb(112, 112, 112);
}