.navbar-container {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 90px;
  border-top: 1px solid teal;
  border-bottom: 1px solid teal;
  background: white;
  z-index: 4;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 20px 10px 20px;
  justify-content: space-around;
}

.logo {
  width: 200px;
}

.logo-icon {
  width: 200px;
  height: 60px;
  background: none;
}

.signin-cart-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.cart-link {
  display: block;
  width: 30px;
  height: 30px;
  background: image-url('cart_black.png');
  background-size: 30px 30px;
}

.cart-link:hover {
  background: image-url('cart_teal.png');
  background-size: 30px 30px;
}



.shopping-cart {
  width: 40px;
  height: 40px;
  padding: 15px 10px 10px 10px;
} 



.cart-black, .cart-teal  {
  margin-left: 5px;
  margin-top: 3px;
  width: 30px;
  height: 30px;
} 
