.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  padding: 10px;

}

.login-logo {
  width: 30px;
  height: 30px;
}

.login-container:hover {
  cursor: pointer;
  color: teal;
}

.h2-signin { 
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
}

.greet-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: teal;
}

.greet-logout-button {
  border: none;
  font-family: 'Montserrate', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid black;
  width: 80px;
  height: 25px;
  margin-top: 5px;
  color: teal;
  background-color: white;
  border-radius: 5px;
}

.greet-logout-button:hover {
  color: white;
  background-color: maroon;
}