.category-list {
  width: 35%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: -7px;
  // border: 2px solid red;
}

.category-list a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  color: #ba6228;
}

.category-list a:hover {
  color: teal;
}

