.page-not-found-container {
  width: 40%;
  height: 40%;
  margin: 0 auto;
}

.error-404 {
  width: 90%;
  height: 90%;
}

.redirect-404 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: 0 auto;
}