.product-show-page {
  height: 100%;
}

.product-show-container {
  margin-top: 75px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
  border-bottom: 1px solid teal;
}

.product-show-left {
  width: 30%;
  padding-right: 75px;
}

.product-show-container .product-img {
  max-width: 100%;
  height: 100%;
}


.product-show-right {
  width: 30%;
  height: 100%;
  border-left: 1px solid teal;
  padding-left: 75px;
}

.product-item-info {
  width: 100%;
  height: 65%;
  display: block;
}

.product-item-info * {
  font-family: 'Montserrat', sans-serif;
}

.product-name {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 50px;
  color: #ba6228;
}

.product-item-info h3 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}


.product-description {
  // width: 100%;
  // height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  // border: 2px solid red;
}

.product-price {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 35px;
}

.add-to-cart-container {
  // padding-top: 25px;
  border-top: 1px solid teal;
  width: 100%;
  height: 35%;
  // padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // border: 2px solid red;
}

.show-quantity-container {
  width: 140px;
  height: 60px;
  // border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 10px 10px 10px 0;
}

.show-quantity-container * {
  font-family: 'Montserrat', sans-serif;
}

.minus-quantity, 
.plus-quantity,
.add-to-cart {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: teal;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid black;
}

.minus-quantity {
  font-size: 24px;
}


.add-to-cart {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 50px;
}

.add-to-cart:hover,
.minus-quantity:hover,
.plus-quantity:hover {
  background-color: rgb(30, 30, 30);
  color: white;
  cursor: pointer;
}

.show-quantity-container input {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 10px;
  font-size: 16px;

}
