.product-show-page {
  height: 2000px;
}

.product-show-container {
  margin-top: 100px;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  // border: 2px solid gray;
}

.product-show-left {
  width: 30%;
  // border: 1px solid orange;
  padding-right: 75px;
}

.product-show-container .product-img {
  max-width: 100%;
  height: 100%;
  // border: 3px solid blue;
}


.product-show-right {
  width: 30%;
  height: 100%;
  border-left: 1px solid teal;
  padding-left: 75px;
}

.product-item-info {
  width: 100%;
  height: 70%;
  // border: 2px solid green;
  display: block;
}

.product-item-info * {
  font-family: 'Montserrat', sans-serif;
}

.product-name {
  font-size: 32px;
  font-weight: 500;
  // text-align: center;
  padding-bottom: 15px;
  color: #ba6228;
}

.product-item-info h3 {
  font-weight: 600;
  font-size: 18px;
}

.product-description {
  font-weight: 400;
  font-size: 16px;
}




.add-to-cart-container {
  padding-top: 25px;
  border-top: 1px solid teal;
  width: 100%;
  height: 30%;
  // border: 2px solid salmon;
  display:block;
}
