.review-index {
  width: 100%;
  height: 100%;
  border: 3px solid brown;
}

.review-index-container {
  display: flex;
  width: 650px;
  height: 1000px;
  margin: auto;
  border: 2px solid green;
  flex-direction: column;
}

.review-index-container:first-child {
  margin-top: 75px;
}

.review-item {
  width: 645px;
  height: 250px;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

