.review-index {
  width: 100%;
  height: 100%;
  position: relative;
}

.sign-in-alert {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 50px;
}

.sign-in-alert a:hover {
  text-decoration: underline;
}

.reviews {
  margin: auto;
  width: 60%;
  height: 50px;
  font-weight: 600;
  font-size: 30px;
  color: #ba6228;
  padding-top: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.review-index-container {
  display: flex;
  width: 60%;
  height: 100%;
  margin: auto;
  flex-direction: column;
}

.review-item-container *{
  font-family: 'Montserrat', sans-serif;
}

.review-item-container {
  width: 100%;
  height: 225px;
  background-color: rgba(247, 247, 247, 0.5);
  padding-bottom: 40px;
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: 40px;
}

.review-item-container:not(:first-child) {
  padding-top: 15px
}

.review-item-nav {
  display: flex;
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
}

.name-rating-container {
  margin-top: 15px;
}

.show-star-review {
  margin-left: 15px;
}

.user-info, .user-date {
  margin-left: 25px;
}

.review-item-nav h2 {
  margin-bottom: 7px;
}

.show-gold-star {
  font-size: 15px;
  color: gold;
}

.show-grey-star {
  font-size: 15px;
  color: grey
}

.review-header {
  margin: -5px 0 20px 18px;
  font-size: 20px;
  font-weight: 600;
}

.p-buttons-container {
  width: 96%;
  height: 165px;
}


.p-buttons-container p {
  width: 100%;
  height: 100px;
  overflow: auto;
  margin-top: 15px;
  margin-left: 20px;
}

.bottom-review-buttons {
  width: 650px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.review-edit-button, 
.review-cancel-button {
  width: 150px;
  margin-left: 18px;
}

.review-delete-button {
  width: 100px;
  margin-left: 250px;
}

.review-update-button {
  width: 100px;
  margin-right: 15px;
}

.review-delete-button,
.review-edit-button,
.review-cancel-button,
.review-update-button {
  height: 35px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  background-color: teal;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid black;
}

.review-item button:hover, 
.review-delete-button:hover,
.review-edit-button:hover,
.review-cancel-button:hover,
.review-update-button:hover {
  background-color: rgb(30, 30, 30);
  color: white;
  cursor: pointer;
}


.hide {
  display: none;
}

.show {
  display: block;
}

.flex-edit-button {
  display: flex;
  justify-content: flex-start;
}