.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 80%;
  height: 60px;
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  justify-content: space-around;
  left: 10%;
  background-color: teal;
}

.logo {
  width: 100px;
  border: 1px solid orange;
}

.signin-cart-container {
  display: flex;
  width: 180px;
}


.shopping-cart {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.cart-icon {
  display: block;
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

