.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 80%;
  height: 50px;
  border: 1px solid black;
  padding: 20px 20px 10px 20px;
  justify-content: space-around;
  left: 10%;
  background-color: teal;
}

.main {
  height: 2000px;
}