.login-greeting {
  width: 7%;
  border: 1px solid pink;
}

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
  padding: 10px;
  border: 1px solid brown;
}

.login-logo {
  width: 30px;
  height: 30px;
}

.login-container:hover {
  cursor: pointer;
}