.image-container {
  width: 100%;
  height: 100%;
  border: 2px solid purple;
}

.big-image {
  max-width: 100%;
  height: 80%;
  border: 2px solid red;
}

.big-image-icon {
  max-width: 100%;
  height: 100%;
}

.image-icons-container {
  height: 20%;
  border: 2px solid green;
  display: flex;
  align-items: center;
}

.small-photos {
  max-width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
}

.small-photos:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px teal;
}